body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #B7E0FF;
}

button {
    background-color: #FFF5CD;
    padding: 2%;
    border-radius: 5px;
    border: none;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFCFB3;
    padding: 10px;
    border-bottom: 2px solid #eaeaea;
    color: white;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    width: 100%; 
    z-index: 1000;
}

#container {
    display: flex;
}

#table {
    margin-top: 10%;
    flex: 1;
    margin-right: 20px;
    height: 60%;
}

#book-table {
    margin-left: 15%;
    width: 70%;
    border-collapse: collapse;
    border: solid 3px #e78f81e6;
    box-shadow: 0 2px 10px #e78f81e6;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #FFF5CD;
}

button {
    margin: 5px;
}

#addButton {
    background-color: #e78f81e6;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

#addButton:hover {
    background-color: #FFCFB3;
}

#formContainer {
    position: fixed;
    right: 20px;
    top: 10%;
    background: #FFCFB3;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    opacity: 0.9;
}

#formContainer>input {
    background-color: #FFF5CD;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#showContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 1%;
    background-color: #B7E0FF;
    display: none;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: calc(60% + 40px); 
    max-width: 600px; 
    box-shadow: 0 2px 10px #e78f81e6; 
    border-radius: 8px; 
}

#showContainer img {
    width: 40%; 
    height: 40%; 
    border-radius: 8px; 
    margin-bottom: 20px; 
}

.rating {
    display: flex;
    justify-content: center;
}

.star {
    font-size: 40px;
    cursor: pointer;
    color: #ccc;
}

.star:hover,
.star.selected {
    color: #FFF5CD;
}

#closeForm {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #FFF;
}

#closeForm:hover {
    color: #E78F81;
}

.arrowBtn {
    padding: 0.5%;
}

.form {
    margin-top: 10%; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#arrowBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.arrowBtn {
    padding: 10px 20px;
    margin: 0 10px; 
    background-color: #FFCFB3;
    border: 1px solid #ccc;
    cursor: pointer;
}

.arrowBtn:disabled {
    background-color: #eaeaea;
    cursor: not-allowed;
}

#pageInfo {
    margin: 0 10px; 
}

#sort-container {
    margin-left: 20px; 
}

select {
    background-color: #FFF5CD; 
    border: 1px solid #ddd; 
    border-radius: 4px; 
    padding: 8px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s, border-color 0.3s; 
}

#sortPrice:hover {
    background-color: #FFCFB3; 
    border-color: #e78f81; 
}

#sortPrice:focus {
    outline: none; 
    border-color: #e78f81; 
    box-shadow: 0 0 5px rgba(231, 143, 129, 0.5); 
}

